# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore old files
*.old

# The file containing environment variables
.env

# Ignore IDE specific files
.idea/
.vscode/
.DS_Store/
*.DS_Store
.DS_Store
*.sw*
